.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #000;
  height: 75px;
  padding: 0 15px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: #fff;

  p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 22px;
    color: #000;
  }

  button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
  }
}
