@import "../../styles/Main.scss";
.btn {
  @include btnNullStyle;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin: 0;
  padding: 0;

  p {
    font-weight: 400;
    font-size: 20px;
    color: #fff;
  }
}
.icon {
  width: 24px;
  height: 24px;
  color: white;
}
